<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="ProjectManagementSystem"
             connectionString="Data Source=DESKTOP-78OLGDN;Initial Catalog=ProjectManagementSystem;Integrated Security=True;Connect Timeout=30"
             providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>